*{
    font-family: "Quicksand", sans-serif;
    list-style: none;
}

.nav-link {
    color: #5e3d0d !important;
}

.nav-link:hover {
    color: #f5b828 !important;
}

.btn-outline-primary{
    color: #5e3d0d !important;
    border-color: #5e3d0d !important;
}

.btn-outline-primary:hover{
    color: #f5b828 !important;
    border-color: #5e3d0d !important;
    background-color: #5e3d0d !important;
}

.btn-primary{
    color: whitesmoke !important;
    border-color: #5e3d0d !important;
    background-color: #5e3d0d !important;
}

.btn-primary:hover{
    color: #f5b828 !important;
    border-color: #5e3d0d !important;
    background-color: whitesmoke !important;
}

.profile-img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    object-fit: cover;
    border: 2px solid #ccc;
}

.badge{
    color: whitesmoke !important;
    background-color: #5e3d0d !important;
}
